In [28]:
#Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [29]:
#Loading the dataset
data = pd.read_csv("dataset/data.csv")

data.head()

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [30]:
#Checking the number of rows and colums
data.shape

(4009, 4)

In [31]:
#Chcecking for null values
data.isnull().sum()

URLs         0
Headline     0
Body        21
Label        0
dtype: int64

In [32]:
#Removing null values from the Body column since it is the only one that has null values
data['Body'] = data['Body'].fillna('')

data.isnull().sum()

URLs        0
Headline    0
Body        0
Label       0
dtype: int64

In [33]:
#Combining the head and body column into an article column
data['Article'] = data['Headline']+data['Body']

data.head()

,URLs,Headline,Body,Label,Article
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1,Four ways Bob Corker skewered Donald TrumpImag...
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1,Linklater's war veteran comedy speaks to moder...
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1,Trump’s Fight With Corker Jeopardizes His Legi...
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1,Egypt's Cheiron wins tie-up with Pemex for Mex...
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1,Jason Aldean opens 'SNL' with Vegas tributeCou...

In [34]:
#Dropping unnecessary features
features_dropped = ['URLs','Headline','Body']
data = data.drop(features_dropped, axis =1)

data.head()

   Label                                            Article
0      1  Four ways Bob Corker skewered Donald TrumpImag...
1      1  Linklater's war veteran comedy speaks to moder...
2      1  Trump’s Fight With Corker Jeopardizes His Legi...
3      1  Egypt's Cheiron wins tie-up with Pemex for Mex...
4      1  Jason Aldean opens 'SNL' with Vegas tributeCou...

In [38]:
ps = PorterStemmer()


#Text preprocessing method
def clean(text):
    text = re.sub('[^a-zA-Z]', ' ',text)
    text = text.lower()
    text = text.split()
    text = [ps.stem(word) for word in text if not word in stopwords.words('english')]
    text = ' '.join(text)
    return text


data['Article'] = data['Article'].apply(clean)


data.head()

   Label                                            Article
0      1  four way bob corker skewer donald trumpimag co...
1      1  linklat war veteran comedi speak modern americ...
2      1  trump fight corker jeopard legisl agendath feu...
3      1  egypt cheiron win tie pemex mexican onshor oil...
4      1  jason aldean open snl vega tributecountri sing...

In [40]:
X = data['Article']
Y = data['Label']

#Split the data into training and test set
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25)